:root {
  --main-section:var(--SLATE, #434455);
  --brand-color: var(--IRIS, #4D5AE5);
  --body-color:var(--WHITE, #FFF);
    --primary-color:var(--NAVY-BLUE, #2E2F42);
    --contact-color: var(--CLOUD, #F4F4FD);
}
body {
    background: var(--body-color);
   --body-fonts:  'Roboto', sans-serif;
  --line-height: 1.5rem;
}

.title {
    color: var(--primary-color);
    font-weight: 500;
    font-style: normal;
}
.link {
    text-decoration: none;
}

.text {
    font-weight: 400;
    color: var(--main-section);
    font-style: normal;
}
.text-footer {
    color: var(--contact-color);

}
.head-title {
    color: var(--primary-color);
    font-weight: 700;
    font-style: normal;
}
.webstudio {
    color: var(--brand-color);
font-family: Raleway, sans-serif;
font-size: 1.125rem;
letter-spacing: 0.03375rem;
font-weight: 800;
text-transform: uppercase;
}
.studio {
    color: var(--primary-color);
}
.footer-studio {
    color: var(--contact-color);
}
.footer {
    background: var(--primary-color);
}
.item {
background: var(--main-section);
}
.button {
background: var(--brand-color);
color: var(--body-color);
}
.headline-main {
    color: var(--body-color);
    font-weight: 700;
    font-style: normal;
}
.portfolio-button {
    background: var(--contact-color);
    color:var(--brand-color)
}
.portfolio-button:hover {
background: var(--brand-color);
color: var(--body-color);
}
